<h1>Lectures#index</h1>
<p>Find me in app/views/lectures/index.html.erb</p>

<h1>授業一覧</h1>

<% @lectures.each do |t|%>
<div style = 'margin:20px; border:2px double black; width:500px;padding-left:20px;'>
   <h2> 授業名：<%= t.name %> </h2>
   <h4>投稿者:<%= t.username%></h4>

<!--- 総合評価の星の部分 ---------->

<div>
<h2>総合評価：
<span class="star-rating">
   <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
   <span class="star-rating-back">★★★★★</span>
</span> 
</h2>
</div>

<!--- 総合評価の星の部分終わり------->


<!--- 授業レベルの星の部分 ------------>
<div>
<h2>授業レベル：
<span class="star-rating">
   <span class="star-rating-front" style="width: <%= getPercent(t.level) %>%;">★★★★★</span>
   <span class="star-rating-back">★★★★★</span>
</span>
</h2>
</div>
<!--- 授業レベルの星の部分終わり-------->

</div>
<% end %>

<%= link_to '新規登録ページへ', lectures_new_path%>